@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: "LilitaOne";
    src: url("../fonts/LilitaOne-Regular.ttf");
  }

  .marca {
    font-family: "LilitaOne", sans-serif;
    font-size: 1.3rem;
  }

  .imagen{
    object-fit: cover;
    height: 400px;
    
  }

  .i1{
    object-position: 100% 8%;
  }

  .i2{
    object-position: 100% 37%;
  }

  .i3{
    object-position: 100% 13%;
  }

  @media (max-width: 767px){
    .imagen{
      height: 300px;
    }

    .i1{    
      object-position: 50% 30%;
    }

    .i3{
      object-position: 70% 13%;
    }
  }